# Pandas

With Pandas (= panel data), tabular data can be handled very conveniently. More at https://pandas.pydata.org/.

Very helpful:
- https://pandas.pydata.org/docs/getting_started/intro_tutorials/index.html
- https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

Pandas uses two important data structures:
- `Series` are 1-dimensional arrays. In contrast to Numpy arrays, however, they have an additional index that can be used to conveniently access entries. Internally, this is based on Numpy arrays.
- `DataFrame` is an entire table consisting of several series (=columns) of the same length.

In [ ]:
import numpy as np # abbreviations by convention
import pandas as pd

#### DataFrames

In [ ]:
starwars_simple = pd.DataFrame({
    "name"   : ["Luke", "Chewbacca", "Darth Vader"],
    "jedi"   : [True, False, True],
    "height" : [172, 228, 202]})
starwars_simple

Every column is a `Series`.

In [ ]:
starwars_simple["height"]
type(starwars_simple["height"])

The first column of a DataFrame (or series) is the so-called index. It contains the *row names*. By default, these are the numbers 0, 1, 2, ...
However, you can also set a different index.

In [ ]:
starwars_simple.index
starwars_simple = starwars_simple.set_index("name")
starwars_simple

We can also create a Series explicitly.If not specified otherwise, the index will be 0, 1, 2, ...

In [ ]:
dummy = pd.Series(np.random.standard_normal(4), index= ["a", "c", "d", "b"]) # special index
dummy

#### Read and write data

Pandas offers a variety of options for reading data from databases (via SQL) or from files, e.g. csv, xlsx, parquet, arrow, feather, ...

In [ ]:
starwars = pd.read_csv("starwars.csv") # see documentation, also e.g. pd.read_excel(), pd.read_sql()
starwars

Gain initial insight into the data.

In [ ]:
#starwars.head()
starwars.info()
#starwars.describe()
#starwars.shape

Reading and writing xlsx files is also no problem. Here is an example of saving the data set as xlsx. The *openpyxl* package must be installed for this.

In [ ]:
starwars.to_excel("starwars.xlsx", sheet_name="people", index=False)

#### Selection of columns or rows

If you select not just one column name but a list of several columns, you get a DataFrame.

In [ ]:
starwars[["name", "height"]]

When selecting rows, you usually want to select rows that fulfill certain properties.
To do this, write a true/false vector of the length of the DataFrame in the square brackets `[]`.
Comparison operators (`<`, `>`, `==`, `<=`, `>=`, `!=`) and Boolean operators `&` (and), `|` (or) and `~` (not) are often very helpful.

In [ ]:
starwars[starwars["height"] < 180]
starwars["height"] < 180 # true/false vector of the length of the DataFrame

starwars[(starwars["height"] < 180) & (starwars["sex"] == "male")] # Boolean operator 

starwars[starwars["eye_color"].isin(["red", "blue"])] # clearer than: (starwars["eye_color"] == "red") | (starwars["eye_color"] == "blue")

starwars[starwars["homeworld"].isna()] # Selection of missing values using .isna() or .notna()

If you want to select certain rows and columns *in one step*, `.loc` and `.iloc` are suitable.

In [ ]:
starwars.loc[starwars["height"] < 180, "name"]

Using `.loc[rows, columns]` (= location) you can address entries via their **row index**.

In [ ]:
starwars = starwars.set_index("name") # even several columns as index possible (so-called MultiIndex)
starwars

In [ ]:
starwars.loc["R2-D2"] # select row by index
starwars.loc[:, "height"] # all rows of a column
starwars.loc["R2-D2":"Chewbacca", ["mass", "homeworld"]] # attention: here sclicing includes the end!

Using `.iloc[row, column]` (= integer location), you can select entries via their row/column **number**, i.e. via the position and not via the name. (Slicing works as usual here).

In [ ]:
starwars.iloc[0:4, [2, 4]] # selection by integer location
starwars

In [ ]:
starwars = starwars.reset_index()
starwars

#### Create, remove and rename columns

When calculating new columns, the power of vectorization becomes clear.
The calculations are performed element by element for each entry of the vector.
An explicit loop is not necessary.

In [ ]:
starwars["BMI"]  = starwars["mass"] / (starwars["height"] / 100)**2
starwars["col1"] = 7 # set each entry to a scalar value
starwars["col2"] = np.random.randint(0, 100, starwars.shape[0]) # some random integers


starwars = starwars.drop(columns=["col1", "col2"])
starwars

If you want to perform complicated calculations, you can write a function and apply it line by line using `map()` or `apply()`. 
line by line. More on this later!

To rename columns, pass a dictionary with entries of the form `{"old_colname": "new_colname"}` or a suitable string function to the `.rename` function.

In [ ]:
starwars_renamed = starwars.rename(columns= {"eye_color": "Augenfarbe", "sex": "Geschlecht"})
starwars_renamed.head(2)

#### Visualization

(Here only very briefly. Visualization gets an extra session).

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
ax = starwars.plot.scatter(x = "height", y= "mass", c = "BMI", colormap='viridis', title = "Star Wars")

for idx, row in starwars.iterrows():
    ax.annotate(row["name"], (row["height"], row["mass"])) # text and coordinates

plt.show()

#### Sorting

In [ ]:
starwars.sort_values(by = "height")
starwars.sort_values(by = "height", ascending= False)
starwars.sort_values(by = ["jedi", "height"], ascending= [True, False])

Sorting the dataframe has consequences for the index. 
If you also want the index to be ordered, you can either reset the index or have it ignored directly during sorting.

In [ ]:
starwars.sort_values("height").reset_index(drop = True) # used to be common practice
starwars.sort_values("height", ignore_index= True)

#### Aggregation of data

Typical aggregation functions such as mean(), sum(), max(), quantile() ... can be called directly as a method of `Series`.

In [ ]:
starwars["mass"].mean()
starwars[["height", "mass"]].max()

Very often you want to perform such aggregations in groups, i.e. for each unique value of a feature. This is known as **Split-Apply-Combine**: The overall table is split into individual tables according to the unique values of a feature, the aggregation function is calculated for each such table and then these values are collected in a smaller table.

In [ ]:
starwars.groupby("jedi")[["height"]].mean()
starwars.groupby("jedi")[["height", "mass"]].mean()

We have just used a square bracket with column names directly after `.groupby()`. This is often done and restricts the individual tables to the named columns. The aggregation function then only affects these columns.

You can also group by several characteristics. The resulting object then has a MultiIndex.

In [ ]:
starwars.groupby(["jedi", "sex"])[["mass"]].mean()

Very often you want to count how often a value occurs in a column. This provides the basis for bar charts.
(Note: By default, NA values do not form a separate group and are not listed. However, this is often relevant in the context of data preparation. For this purpose, you can set the option `dropna=False` in `.groupby()` or `.value_counts()`).
As the resulting object is not a DataFrame, a `.reset_index()` is suitable for making the index an explicit column and connecting sorting steps, for example.

In [ ]:
starwars.groupby("sex").size().reset_index()
#starwars["sex"].value_counts()

There are both `.count()` and `.size()`. These are very similar. While `.size()` returns the number of rows, `.count()` returns the number of non-NA values. One function therefore includes NA values, while the other does not.

#### Merging (=joining) several tables

Very often you want to combine several tables to enrich information.
Pandas can also be used to combine several DataFrames, as in SQL.

The following table shows the development of student numbers for the TH Aschaffenburg.
Unfortunately, only the course abbreviations are included and there is also no assignment to faculties.
The second table provides this information.

In [ ]:
students = pd.read_csv("TH-Aschaffenburg.csv") # development of student numbers for the TH Aschaffenburg
students.head()

In [ ]:
names = pd.read_csv("TH-Aschaffenburg_degree_programs.csv") # full names of study programs
names.head()

Using `merge()` you can perform all kinds of JOIN operations in Pandas, as we know them from SQL.
Here we want to enrich the table *students* with the respective degree program information.

In [ ]:
pd.merge(left=students, right = names, how = "left", left_on = "degree program", right_on = "short name")

With `merge()` you can also perform other joins (RIGHT JOIN, INNER JOIN, OUTER JOIN), for example by specifying `how="outer"`.

The easiest way to combine two DataFrames is to simply append one to the other.
Of course, this only makes sense if the columns match (or are at least subsets of each other).
For example, let's look at the data for the degree programs *MEDS* and *SD*.
With `concat()`, the two tables can be appended.
This kind of concatenation is common when reading tabular data of identical structure from several files, that should be combined into one single table.

In [ ]:
df_1 = students[students["degree program"] == "MEDS"]
df_2 = students[students["degree program"] == "SD"]

pd.concat([df_1, df_2])

#### Data wrangling for advanced users: Long format and wide format

<!--- Data source:
- Destatis, Table 12411-0015: Population: districts, reference date (selection: all reference dates). (Download flat file!)
- Destatis, Table 12411-0018: Population: districts, reference date, sex, age groups (selection: all reference dates but only the 3 districts of Aschaffenburg, Würzburg and Schweinfurt). (Download Flat-File!) -->

There are various ways of displaying the same data in tabular form.
Depending on the application, it is necessary to switch between these forms. This is sometimes known as “pivoting”.
The best way to see this is with an example. 

<!--- The following table (adapted from Destatis table 12411-0016) shows the population development of the three cities Aschaffenburg, Schweinfurt and Würzburg.-->

For the sake of simplicity, we will initially disregard the total number of students and limit ourselves to the degree programs *BW* (Business Administration), *SD* (Software Design) and *EIT* (Electrical Engineering and Information Technology) since the winter semester 2021.

In [ ]:
small = students[
    students["degree program"].isin(["BW", "SD", "EIT"]) &
    (students["year"] > "WS 20")
    ].drop(columns = "students").reset_index(drop = True)
small

The table above contains one row for each combination of academic year and subject. 
This is called **long format**.
For time series in particular, however, it is often clearer to arrange the data differently.
In this case, we want to display the enrolment figures for each subject in a separate column.
This is then the **wide format**.

With the function `pivot()` you can “rotate” the fields appropriately.
Here you must specify which columns are to be retained as an index, which column contains the new column names and which are the actual values.
The wide format may seem clearer, but has the disadvantage that you have to change the table schema when new study programs are added.

In [ ]:
small_wide = small.pivot(index="year", columns="degree program", values = "freshmen")
small_wide

Of course, you can also convert from wide format to long format by using `melt()`.
(First, however, we again use `reset_index()` to make the index a regular column).
In the argument `id_vars` we list all columns that are to be kept constant - all other columns are "pivoted" to two new columns, where each combination of column name and respective entry form a new line.

In [ ]:
small_wide.reset_index().melt(id_vars = "year")

We had just restricted the data set to the number of freshmen and removed the *students* column.
So we only let `pivot()` pivot the column *freshmen*.

If, on the other hand, we leave the student numbers in the data set, we can also pivot them.
This results in a **MultiIndex** for the columns.

In [ ]:
small_2 = students[
    students["degree program"].isin(["BW", "SD", "EIT"])  & 
    (students["year"] > "WS 21")].reset_index(drop = True)
small_2

In [ ]:
small_2_wide = small_2.pivot(index= ["year"], columns= "degree program", values= ["freshmen", "students"])
small_2_wide

In [ ]:
small_2_wide.columns
small_2_wide["freshmen"]
small_2_wide[("freshmen", "EIT")]

Closely related to `pivot()` and `melt()` are the `stack()` and `unstack()` functions.
They are particularly useful in combination with indexes and MultiIndexes.

- `stack()` pivots all column labels (except the index) and returns a series (or a DataFrame) with an additional inner index level.
- `unstack()` pivots the innermost index level to column labels and thus creates a DataFrame.

For the sake of clarity, let's restrict ourselves to the beginner numbers above.

In [ ]:
freshmen = small_2_wide["freshmen"]
freshmen

`stack()` rotates all column names to a new inner index level and thus returns a series with a two-level multi-index.

In [ ]:
freshmen_stacked = freshmen.stack()
freshmen_stacked

Using `unstack()`, the innermost level of a MultiIndex becomes new column names and we get the original DataFrame again.
(If you want to pivot another index level instead of the innermost level, you can specify an index level using both `stack` and `unstack`).

In [ ]:
freshmen_stacked.unstack()

By the way: Instead of calling `pivot` you can also use `set_index` to create a MultiIndex and then call `unstack`.